<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Display</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
</head>
<body>
    <div class="jumbotron jumbotron-fluid text-center">
        <h2 class="lead">The current time and date:</h2>
        <hr class="my-4">
        <h2>{{date}}</h2>
        <h2>{{time}}</h2>
    </div>
</body>
</html>